<div class="input-prepend">
<%= form_for @action,  html: {class: ""} do |f| %>

      <div class="input-append">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="input-append">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="input-append">
        <div class="boxGrayOpt formInline">
          <%= render 'configure_color', action: @action %>
        </div>
      </div>

      <div class="input-append">
      <%= f.submit "Create", :class => 'btn btn-info' %>
    </div>
  <% end %>
</div>
